#circlepack .node {
  cursor: pointer;
}
#circlepack .node--leaf {
  fill: white;
}
#circlepack .label {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}
#circlepack .node--root {
  display: none;
}
/* VIS SIZING AND RESPONSIVENESS STYLES */
#circlepack .vis-svg {
  background: rgb(217, 224, 227);
}
/* TOOLTIP STYLES */
.tooltip {
  padding: 4px 8px 7px 8px;
  opacity: 0.5;
  background-color: white;
  border-width: 2px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.2);
  width: 350px;
}
.tooltip a {
  color: unset;
  text-decoration: unset;
}
.tooltip .tooltip-title {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: bold;
}
.tooltip .tooltip-details ul {
  list-style-type: none;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 0;
}
.tooltip .tooltip-details ul li {
  border-bottom: 1px solid #ccc;
}
.tooltip .tooltip-details ul li:first-child {
  padding-top: 5px;
  border-top: 1px solid #ccc;
}
.tooltip .tooltip-details ul li:last-child {
  margin-bottom: 0;
  border-bottom: 0;
}
.tooltip .tooltip-dataverse {
  color: rgb(194, 107, 53);
}
.tooltip .tooltip-dataset {
  color: rgb(73, 134, 190);
}
.tooltip .tooltip-date {
  color: rgb(130,130,130);
}
.tooltip .tooltip-desc {
  display: list-item;
  margin-bottom: 5px;
}

/* Creates a small triangle extender for the tooltip */
/* Reference: https://github.com/caged/d3-tip/blob/master/examples/example-styles.css */
.tooltip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: white;
  position: absolute;
  /* 'pointer-events: none' is needed so that hovering over triangle extender of
  a westward tooltip does not interfere with circle hover */
  pointer-events: none;
}
/* Northward tooltips */
.tooltip.n:after {
  content: "\25BC";
  margin: -4px 0 0 0;
  top: 100%;
  left: 50%;
}
/* Adds the left arrow on the tooltip */
.tooltip.e:after {
  content: "\25C0";
  margin: -4px 0 0 0;
  top: 50%;
  left: -8px;
}
/* Southward tooltips */
.tooltip.s:after {
  content: "\25B2";
  margin: 0 0 4px 0;
  top: -8px;
  left: 50%;
}
/* Westward tooltips */
.tooltip.w:after {
  content: "\25B6";
  margin: -4px 0 0 -4px;
  top: 50%;
  left: 100%;
}